<div class="table-scroll">
  <table class="table">
    <thead>
      <tr class="no-wrap">
        <th>Plant Name</th>
        <th>Utility name</th>
        <th>Absolute Value</th>
        <th>Percentage Value</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of gridData">
        <td>{{row['plantName']}}</td>
        <td>{{row['utilityName']}}</td>
        <td>{{row['absoluteValue']}}</td>
        <td>{{row['percentage']}}%</td>
      </tr>
    </tbody>
  </table>
</div>
