<div *ngIf="apiLoaded | async">
    <google-map height="500px"
                width="95%"
                [center]="center"
                [zoom]="zoom">
        <map-marker #marker="mapMarker" *ngFor="let markerPosition of markerPositions; let i = index;"
            [position]="markerPosition"
            [options]="markerOptions"
            (mapClick)="openInfoWindow(marker, i)">
        </map-marker>
        <map-info-window>
            <p class="h5">{{infoWindowContent.plantName}}</p>
            <p class="h6">Absolute Value: {{infoWindowContent.absoluteValue}} MWh</p>
            <p class="h6">Percentage Value: {{infoWindowContent.percentage}} %</p>
        </map-info-window>
    </google-map>
</div>
