<div class="mt-5">
  <div class="container">
    <div class="row mb-3">
        <form>
          <div class="form-group">
            <div class="row">
              <div class="col-sm-3">
                <select class="form-select" name="type" [(ngModel)]="selectedNplant" (change)="stateChange()">
                  <option [value]="count" *ngFor="let count of plantCounts">Top {{count}} Plants</option>
                </select>
              </div>
              <div class="col-sm-3">
                <select class="form-select" name="state" [(ngModel)]="selectedState" (change)="stateChange()">
                  <option value="all">All States</option>
                  <option [value]="state.Plant_state_abbreviation" *ngFor="let state of states">{{state.Plant_state_abbreviation}}</option>
                </select>
              </div>
            </div>
          </div>
        </form>
    </div>
    <div class="row">
      <div class="col-sm-7">
        <map [selectedState]="selectedState" [plants]="plants"></map>
      </div>
      <div class="col-sm-5">
        <grid [plants]="plants"></grid>
      </div>
    </div>
  </div>
</div>